@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&family=Mukta&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit;
  background-color: var(--nsr-plati);
  color: var(--nsr-black);
}

:root {
  --nsr-black: black;
  --nsr-plati: #E5E4E2;
  --nsr-white: white;
  --nsr-whitesmoke: #F5F5F5;
  --nsr-orange:#FF4F00;
  --nsr-blue:#00B9E8;
  --nsr-red:red;
  --nsr-violet:#462255;
  --nsr-green:#42A43D ;
 

  /*Paddings y Margins*/
  --nsr-padd1: 10px;
  --nsr-padd2: 20px;
  --nsr-padd3: 30px;

  --nsr-bor1: 10px;
  --nsr-bor2: 20px;
  --nsr-bor3: 30px;

  /*Background color*/
  --nsr-bg1: var(var(--nsr-black))

  /*font size*/
  --nsr-fsize1: small;
  --nsr-fsize2: medium;
  --nsr-fsize3: large;
  --nsr-fsize4:x-large;

  /*borders*/
  --nsr-border1: 5px, solid black;
  /*Border radius*/
  --nsr-bradius: 5px;
}
/*Header --------------------------------------------------------------------------------------------*/
body{
  min-height: 100vh; /* Ajustar según la altura del viewport */
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
  position: relative;
}



/*section hero----------------------*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  
}
section{
width: 400px;
display: flex;
flex-direction: column;
gap: 19px;
justify-content: center;
align-items: center;
margin: auto;
}
section img{
  width:200px;
  height: 200px;
  border-radius: 100%;
  transition: all 0.5s;
}
.section img:hover{
  transform: scale(1.1);
}
section p{
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
}
section div {
 display: flex;
 gap: 5px;
}
.btnImg{
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.btn2Img{
  display: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.section button{
  font-size: 10px;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.section button:hover{
  transform: scale(0.8);
}
.section a{
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  color: var(--nsr-orange);
  text-transform: uppercase;
  transition: all 0.5s;
}
.section a:hover {
  transform: scale(1.2);
}

.imageAnimation{
  animation: animacionImg 6s infinite;
}

@keyframes animacionImg {
  0% {
    transform: scale(0) translateX(-800px) rotate(0deg);
  }
  50% {
    transform: scale(1.16) rotate(180deg);
  }
  100% {
    transform: scale(1) translateX(0px) rotate(359deg);
  }
}
.section p{
  font-style: italic;
  color: var(--nsr-violet);
}

/*Footer---------------------------------------------------------*/
footer{
  width: 100%;
  height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;
border-top: 3px solid var(--nsr-violet);
background-color: var(--nsr-black);
position: fixed;
bottom: 0;
z-index: 51;
}
footer p{
 background-color: var(--nsr-black);
 font-weight: bold;
  font-size: 19px;
  color: var(--nsr-plati);
}

/*Responsive-----------------------------*/

@media (max-width:376px){
  header h1{
    margin-left: 5px;
    font-size: 5px;
  }
 
  header{
    justify-content: space-evenly;
    border: none;
    gap:0;
  }
  header a{
    border:none;
    background-color: transparent;
  }
  .section p{
    width: 300px;
    font-size: 12px;
  }
  .section2 article{
    width: 350px;
  }
  .divjob{
    width: 90%;
  }
}


@media (max-width:415px){
  header h1{
    font-size: 20px;
    margin-left: 10px;
  }

  header{
    justify-content: start;
    border: none;
    gap:35px
  }

  .section p{
    width: 300px;
    font-size: 12px;
  }
  .section2 article{
    width: 350px;
  }
  .divjob{
    width: 100%;
  }
}
@media(max-width:431px){
  header h1{
    font-size: 20px;
    margin-left: 10px;
  }

  header{
    justify-content: start;
    border: none;
    gap:55px
  }

  .section p{
    width: 300px;
    font-size: 12px;
  }
  .section2 article{
    width: 350px;
  }
  .divjob{
    width: 100%;
  }
}
@media(max-width:769px){
  .divjob{
    width: 70%;
  }
}
@media(max-width:821px){
  .divjob{
    width: 70%;
  }
}

@media(max-width:684px){
  .divskills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 940px){
  header {
gap: 0
;
  }
}

@media (max-width:617px){
  header{
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  header h1{
    font-size: 25px;
  }
  header ul {
    display: none;
  }
  header button{
    display: none;
  }
  header button:first-of-type{
    display: none;
  }
  header button:last-of-type{
    display: none;
  }
  .imgmenu{
    display: flex;
    
   width: 20px;
   background-color: transparent;
   cursor: pointer;
  }
}

@media (max-width:403px){

  .divskills button{
   width: 210px;
  }
  .sectionHero{
    overflow: hidden;
    margin-left: -35px;
  }
  .section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    overflow-y: hidden;
  }
  .divp{
    width: 200px;
  }
  .divp p{
    font-size: 11px;
  }
  .section2{
    width: 100%;
   
  }

  .artper1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .artper1 h3{
    font-size: 15px;
  }
  .artper2{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .artper2 h2, .artper1 h2{
    font-size: 12px;
  }
  .divjob p:last-of-type{
    font-size: 12px;
  }
  .divjob{
    width: 200px;
  }

  article.card{
    width: 240px;
  }
  article.card p{
    font-size: 12px;
  }

}