.main-button {
  border-radius: 10px;
  border: none;
  background-color: grey;
  color: white;
}

/*Tamaños----------------------------------------------------*/
.main-button.s {
  padding: 5px 10px;
  font-size: 12px;
}

.main-button.m {
  padding: 8px 8px;
  font-size: 25px;
}

.main-button.l {
  padding: 15px 25px;
  font-size: 25px;
}
/*Colores-------------------------------------------------------------*/
.main-button.black{
color: black
}
.main-button.white{
  color:white;
}
.main-button.green{
  color:green;
}
.main-button.pink{
  color:pink
}
.main-button.blue{
  color: blue;
}
.main-button.red{
  color:red;
}
/*Fuente Familia ------------------------------------------*/
.main-button.courier{
  font-family: 'Courier New', Courier, monospace;
  
}
.main-button.franklin{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-button.gill{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-button.lucida{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-button.arial{
  font-family: Arial, Helvetica, sans-serif;
}
.main-button.verdana{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*media queries-----------------*/
/* @media (max-width:376px){

  .main-button {
    border-radius: 5px;
    border: none;
    background-color: grey;
    color: white;
    width: 55px;
  }

  .main-button.m {
    padding: 8px 8px;
    font-size: 8px;
  }

}
@media (max-width:415px){

  .main-button {
    border-radius: 5px;
    border: none;
    background-color: grey;
    color: white;
    width: 55px;
  }

  .main-button.m {
    padding: 8px 8px;
    font-size: 8px;
  }

} */
/* @media (max-width:431px){

  .main-button {
    border-radius: 5px;
    border: none;
    background-color: grey;
    color: white;
    width: 55px;
  }

  .main-button.m {
    padding: 6px 6px;
    font-size: 8px;
  }

} */